<?xml version="1.0"?>
<config>
    <modules>
        <MM_Ignition>
            <version>1.5.0</version>
        </MM_Ignition>
    </modules>
    <global>
        <helpers>
            <mm_ignition>
                <class>MM_Ignition_Helper</class>
            </mm_ignition>
        </helpers>
        <models>
            <mm_ignition>
                <class>MM_Ignition_Model</class>
            </mm_ignition>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <mm_ignition>
                        <class>mm_ignition/observer_handleIgnitionRegister</class>
                        <method>execute</method>
                    </mm_ignition>
                </observers>
            </controller_front_init_before>
            <mage_run_exception>
                <observers>
                    <mm_ignition>
                        <class>mm_ignition/observer_handleIgnitionException</class>
                        <method>execute</method>
                    </mm_ignition>
                </observers>
            </mage_run_exception>
            <mage_run_installed_exception>
                <observers>
                    <mm_ignition>
                        <class>mm_ignition/observer_handleIgnitionException</class>
                        <method>execute</method>
                    </mm_ignition>
                </observers>
            </mage_run_installed_exception>
            <controller_front_init_routers>
                <observers> 
                    <mm_ignition>
                        <class>MM_Ignition_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </mm_ignition> 
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <events>
        </events>
        <routers>
            <ignition>
                <use>ignition_router</use>
                <args>
                    <module>MM_Ignition</module>
                    <frontName>_ignition</frontName>
                </args>
            </ignition>
        </routers>
	</frontend>
    <default>
        <dev>
            <mm_ignition>
                <enabled>1</enabled>
                <editor>clipboard</editor>
                <theme>auto</theme>
            </mm_ignition>
        </dev>
    </default>
</config>