<?xml version="1.0"?>
<config>
    <modules>
        <MM_Ignition>
            <version>1.0.0</version>
        </MM_Ignition>
    </modules>
    <global>
        <helpers>
            <mm_ignition>
                <class>MM_Ignition_Helper</class>
            </mm_ignition>
        </helpers>
        <models>
            <mm_ignition>
                <class>MM_Ignition_Model</class>
            </mm_ignition>
        </models>
        <events>
            <core_app_init_after>
                <observers>
                    <mm_ignition>
                        <class>MM_Ignition_Model_Observer</class>
                        <method>handleIgnitionRegister</method>
                    </mm_ignition>
                </observers>
            </core_app_init_after>
            <mage_print_exception_before>
                <observers>
                    <mm_ignition>
                        <class>MM_Ignition_Model_Observer</class>
                        <method>handleIgnitionException</method>
                    </mm_ignition>
                </observers>
            </mage_print_exception_before>
        </events>
    </global>
    <default>
        <dev>
            <mm_ignition>
                <enabled>1</enabled>
            </mm_ignition>
        </dev>
    </default>
</config>