<config>
    <sections>
        <dev translate="label" module="mm_ignition">
            <groups>
                <mm_ignition translate="label">
                    <label>Ignition Settings</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <editor>
                            <label>Default Editor</label>
                            <comment>Default editor for code editing</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mm_ignition/system_config_source_editor</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </editor>
                        <theme>
                            <label>Default Theme</label>
                            <comment>Default theme for code editing</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mm_ignition/system_config_source_theme</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </theme>
                        <override_config>
                            <label>Save custom settings in session</label>
                            <comment>Enable to allow custom settings stored in session otherwise default settings will be updated</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </override_config>
                        <enable_openai>
                            <label>Enable AI Generated Solution</label>
                            <comment>Enable AI Generated Solution by OpenAI</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_openai>
                        <openai_api_key>
                            <label>OpenAI API Key</label>
                            <comment>API key for OpenAI</comment>
                            <frontend_type>password</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable_openai>1</enable_openai>
                            </depends>
                        </openai_api_key>
                    </fields>
                </mm_ignition>
            </groups>
        </dev>
    </sections>
</config>
